<% layout('layouts/boilerplate') %>

<style>
/* Star Rating Styles */
.star-rating {
    display: inline-block;
    font-size: 0; /* Hide the text content of the stars */
}
.star-rating input[type="radio"] {
    display: none; /* Hide the radio buttons */
}
.star-rating label.star {
    font-size: 1.5rem; /* Set the size of the star icons */
    color: #ccc; /* Set the default color of the stars */
    cursor: pointer;
    order: 1; /* Start from the leftmost star */
}
.star-rating label.star:hover,
.star-rating label.star:hover ~ label.star,
.star-rating input[type="radio"]:checked ~ label.star {
    color: #ff0; /* Change color to yellow on hover and when selected */
}

</style>

<% function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
} %> 


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1><%= course.courseName %></h1>
            <p><%= course.description %></p>
            <ul class="list-group">
                <% if (course.instructors.length > 0) { %>
                    <li class="list-group-item">Instructor: 
                        <% course.instructors.forEach(function(instructor) { %>
                            <%= capitalizeFirstLetter(instructor.firstname) %> <%= capitalizeFirstLetter(instructor.lastname) %> 
                        <% }) %>
                    </li>
                <% } %>
            
                <% if (course.duration) { %>
                    <li class="list-group-item">Duration: <%= course.duration %></li>
                <% } %>
            
                <% if (course.location) { %>
                    <li class="list-group-item">Location: <%= course.location %></li>
                <% } %>
            
                <% if (course.prerequisites.length > 0) { %>
                    <li class="list-group-item">Prerequisites: <%= course.prerequisites.join(', ') %></li>
                <% } %>
            
                <% if (course.enrollmentLimit) { %>
                    <li class="list-group-item">Enrollment Limit: <%= course.enrollmentLimit %></li>
                <% } %>
            
                <li class="list-group-item">Availability: <%= course.availability %></li>
                <li class="list-group-item">Refund: <%= course.refundPolicy %></li>
            
                <% if (course.schedules.length > 0) { %>
                    <li class="list-group-item">Schedules: 
                        <% course.schedules.forEach(function(schedule) { %>
                            <%= schedule.semester %> (<%= schedule.startDate %> - <%= schedule.endDate %>)
                        <% }) %>
                    </li>
                <% } %>
            
                <% if (course.discounts && course.discounts.length > 0) { %>
                    <li class="list-group-item">Discounts: 
                        <% course.discounts.forEach(function(discount) { %>
                            <p>Code: <%= discount.code %>, Percentage: <%= discount.percentage %>, Expiration Date: <%= discount.expirationDate %></p>
                        <% }) %>
                    </li>
                <% } %>
            
                <% if (course.paymentPlans && course.paymentPlans.length > 0) { %>
                    <li class="list-group-item">Payment Plans: 
                        <% course.paymentPlans.forEach(function(plan) { %>
                            <p>Installment Amount: <%= plan.installmentAmount %>, Frequency: <%= plan.frequency %></p>
                        <% }) %>
                    </li>
                <% } %>
            
                <% if (course.materials && course.materials.length > 0) { %>
                    <li class="list-group-item">Materials: 
                        <% course.materials.forEach(function(material) { %>
                            <p>Title: <%= material.title %>, URL: <%= material.url %></p>
                        <% }) %>
                    </li>
                <% } %>
            
                <% if (course.certification) { %>
                    <li class="list-group-item">Certification: <%= course.certification %></li>
                <% } %>
            
                <% if (course.level) { %>
                    <li class="list-group-item">Level: <%= course.level %></li>
                <% } %>
            
                <% if (course.price) { %>
                    <li class="list-group-item">Price: $<%= course.price %></li>
                <% } %>
            
                <% if (course.refundPolicy) { %>
                    <li class="list-group-item">Refund Policy: <%= course.refundPolicy %></li>
                <% } %>
                <!-- Add other relevant information as needed -->
            </ul>
            
            <% if (currentUser) { %>
                <% if (course.students.includes(currentUser._id)) { %>
                    <p>You are already enrolled in this course.</p>
                <% } else { %>
                    <!-- -->
                    <form action="/user/cart/" method="POST">
                        <input type="hidden" name="courseId" value="<%= course._id %>">
                        <button type="submit" class="btn btn-primary mt-3">Enroll in Course</button>
                    </form>
                    
                    
                    <!-- User is logged in and not already enrolled, show enrollment button 
                    <form action="/user/<%= currentUser._id %>/course/<%= course._id %>/enroll" method="POST">
                        <button type="submit" class="btn btn-primary mt-3">Enroll in Course</button>
                    </form>
                    -->
                    
                <% } %>
            <% } else { %>
                <!-- User is not logged in, show login button -->
                <a href="/user/login" class="btn btn-primary mt-3">Login to Enroll</a>
            <% } %>

            <!-- Review Section -->
        <h2>Reviews</h2>
        <div id="reviews">
            <% if (course.ratings.length > 0) { %>
                <% course.ratings.forEach(function(review) { %>
                    <div class="review">
                        <p><strong><%= review.student.firstname %> <%= review.student.lastname %>:</strong> <%= review.rating %> stars</p>
                        <p><%= review.comment %></p>
                        <!-- Allow update and delete only if the current user is the author of the review -->
                        <% if (currentUser && currentUser._id.toString() === review.student._id.toString()) { %>
                            <form action="/admin/course/<%= course._id %>/reviews/<%= review._id %>/delete" method="GET">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                            <!-- Update form -->
                            <form action="/admin/course/<%= course._id %>/reviews/<%= review._id %>/update?_method=PUT" method="POST">
                                <input type="hidden" name="_method" value="PUT">
                                <div class="form-group">
                                    <label for="rating">Rating:</label>
                                    <!-- Display custom star icons based on the rating -->
                                    <div class="star-rating" data-rating="<%= review.rating %>">
                                        <% for (let i = 1; i <= 5; i++) { %>
                                            <input type="radio" id="star<%= i %>" name="rating" value="<%= i %>" style="display: none;">
                                            <label for="star<%= i %>" title="<%= i %> star" class="star">&#9734;</label>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Comment:</label>
                                    <textarea class="form-control" id="comment<%= review._id %>" name="comment" rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary btn-sm">Update</button>
                            </form>                                
                        <% } %>
                    </div>
                <% }) %>
            <% } else { %>
                <!-- Form for submitting a review -->
                <% if (currentUser && !course.ratings.some(review => review.student._id.toString() === currentUser._id.toString())) { %>
                    <h3>Add a Review</h3>
                    <form action="/admin/course/<%= course._id %>/reviews" method="POST">
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <!-- Display custom star icons for selecting the rating -->
                            <div class="star-rating" data-rating="0">
                                <% for (let i = 1; i <= 5; i++) { %>
                                    <input type="radio" id="star<%= i %>" name="rating" value="<%= i %>" style="display: none;">
                                    <label for="star<%= i %>" title="<%= i %> star" class="star">&#9733;</label>
                                <% } %>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="comment">Comment:</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Review</button>
                    </form>
                <% } else { %>
                    <p>Login to add a review.</p>
                <% } %>
            <% } %>
        </div>
        
    </div>
        
        <aside class="col-md-4">
            <% if (currentUser) { %>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Welcome to Your Student Dashboard, <%= currentUser.username %>!</h5>
                    </div>
                    <div class="card-body">
                        <p>Get started with your learning journey:</p>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="/user/enrolled-courses/<%= currentUser._id %>" class="btn btn-primary">View Enrolled Courses</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/admin/courses" class="btn btn-primary">Browse Available Courses</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/user/cart/<%= currentUser._id %>"><button class="btn btn-primary">View Cart</button></a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            <% } else { %>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Welcome to our platform!</h5>
                    </div>
                    <div class="card-body">
                        <p>Sign in or create an account to get started.</p>
                    </div>
                    <div class="card-footer">
                        <a href="/user/login" class="btn btn-primary">Sign In</a>
                        <a href="/user/register" class="btn btn-outline-primary">Register</a>
                    </div>
                </div>
            <% } %>
        </aside>
        
    </div>

    <% if (isAdmin) { %>
        <div class="row mt-4">
            <div class="col">
                <!-- Buttons for admin -->
                <a href="/admin/course/<%= course._id %>/edit" class="btn btn-primary mr-2">Edit</a>
                <form action="/admin/course/<%= course._id %>/delete" method="GET">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    <% } %>
</div>

<script>
    // Star rating functionality
    document.addEventListener('DOMContentLoaded', function() {
        const starRatingContainers = document.querySelectorAll('.star-rating');
        starRatingContainers.forEach(container => {
            const stars = container.querySelectorAll('input[type="radio"]');
            stars.forEach(star => {
                star.addEventListener('click', function() {
                    const rating = this.value;
                    container.setAttribute('data-rating', rating);
                });
            });
        });
    });

</script>







